//footer//
footer {
    padding: 3% 5%;
    background: linear-gradient(70deg, rgb(7, 7, 7), rgba(253, 247, 247, 0.26), rgb(10, 10, 10));
    color: white;
    display: flex;

    h1 {
        font-size: 20px;
    }
}

.botonFooter {
    color: white;
    text-decoration: none;
}

.contenedor-botones-form {
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    color: $colorTextos;
    text-align: end;
}