/*variables*/

$colorTitulos: #008000;
$colorSubtitulos: #e6e6e6;
$colorTextos: #d8d4d4;
$colorTextos2: #000000;
$backgroundtitulos: rgba(240, 248, 255, 0.151);
$backgroundtitulos2:rgba(16, 17, 17, 0.281);
$bgcolor:#ffffff;
$bgcolor2: #faebd7;