body {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

img {
    width: 70%;
}

.containter {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 20px;
}

.boton {
    border: 1px solid #2e518b;
    /*anchura, estilo y color borde*/
    padding: 10px;
    /*espacio alrededor texto*/
    background-color: #2e518b;
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    font-family: 'Helvetica', sans-serif;
    /*tipografía texto*/
    border-radius: 50px;
    /*bordes redondos*/
}